:root {
    --bg:        #fbf1c7;
    --bg-1:      #ebdbb2;
    --bg-2:      #d5c4a1;
    --surface:   #f2e5bc;
    --border:    #d5c4a1;
    --text:      #3c3836;
    --muted:     #7c6f64;
    --accent:    #cc241d;
    --accent-2:  #d79921;
    --accent-3:  #458588;
    --accent-4:  #689d6a;
    --accent-5:  #b16286;
    --orange:    #d65d0e;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: 'JetBrains Mono', monospace;
    color: var(--text);
    /*100vh means 100% of the viewport height, the full visible height of the browser window.*/
    height: 100vh;
    overflow: hidden;
}